/* Add styles here. */

body {
  margin: auto;
  background-color: #FEFAE0;
}

nav {
  display: flex;
  padding-left: 10px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #D4A373;
  width: 100vw;
}

.nav-links {
  justify-self: flex-end;
  width: 450px;
}

.nav-links > a {
  margin: 5px;
}

.content {
  padding: 20px;
  margin: 10px 50px 50px 50px;
  min-height: 80vh;
  background-color: #E9EDC9;
  border-radius: 10px;
  color: #7a4c1e;
}

.resto {
  padding: 20px;
  margin: 20px;
  background-color: #FEFAE0;
  border-radius: 10px;
  color: #7a4c1e;
}

form {
  margin: 20px;
}

.logo {
  width: 150px;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px #7a4c1e solid;
  background-color:#FEFAE0;
  color: #7a4c1e;
}

.resto-header {
  display: flex;
}

.resto-header > p {
  width: 50px;
}