<!DOCTYPE html>
<html>
    <head>
        <title>Project Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    </head>
    <body>
        <!-- Add base html here. -->

        <nav>
            <a href="/"><img class='logo' src="{{ url_for('static', filename='fave_logo.png')}}"></img></a>
            <div class="nav-links">
                <a href="/new_resto">New Resto</a>
                <a href="/users">All Users</a>
                {% if current_user.is_authenticated %}
                <a href="/logout">Log Out</a>
                    <!-- stuff you only want to show to logged-in users -->
                {% else %}
                    <!-- stuff you only want to show to logged-out users -->
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
        
        <div class="content">

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
