{% extends 'base.html' %}
{% block content %}

<h1>resto - {{ resto.name }}</h1>

<p><strong>Category:</strong> {{ resto.category }}</p>
<strong>Address:</strong> {{ resto.address }}

<form action="/favorite/{{ resto.id }}" method="POST">
  <input class='btn' type="submit" value="❤️ Favorite">
</form>

<div> 
  <h2>Reviews</h2>
  {% for review in resto.reviews %}
   <div class="resto">
     <a href="/user/{{review.reviewer.id}}">{{ review.reviewer.username }}</a>
     <p> {{ review.comment }}</p>
   </div>
  {% endfor %}
</div>

<form method="POST">
  <fieldset>
    <legend>Leave a review:</legend>
    {{ comment_form.csrf_token }}
    {{ comment_form.comment.label }} {{ comment_form.comment }}
    <input class='btn' type="submit" value="Submit">
  </fieldset>
</form>


<h2>Edit resto</h2>

<form method="POST">
    <fieldset>
        <legend>Edit resto:</legend>

        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(size=20) }}
        {{ form.category.label }} {{ form.category(size=20) }}
        {{ form.address.label }} {{ form.address(size=20) }}

        <input class='btn' type="submit" value="Submit">
    </fieldset>
</form>

{% endblock %}